@import "src/app/shared/styles/variables/colors";

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    background-color: $color-white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}