<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <div class="login-form">
    <form action="" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
      <div class="input-wrapper">
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Input email"
            class="form-control"
            isEmail
            required
            [(ngModel)]="model.email"
            #email="ngModel"
            [ngClass]="{ 'is-invalid': email.touched && email.invalid && true }"
          />
          <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
            <div *ngIf="email?.errors?.['required']">Email is required</div>
            <div *ngIf="!email?.errors?.['required'] && email?.errors?.['isEmail']">Email must be a valid email address</div>
        </div>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            placeholder="Input text"
            name="password"
            required
            [(ngModel)]="model.password"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': password.touched && password.invalid && true }"
          />
          <div *ngIf="password.touched && password.invalid" class="invalid-feedback">
            <div *ngIf="password?.errors?.['required']">Password is required</div>
        </div>
        </div>
      </div>
      <div>
        <div class="form__action form-group">
          <app-button item="Login"></app-button>
        </div>
        <div class="form__text">
          If you don't have an account you may <strong>Registration</strong>
        </div>
      </div>
    </form>
  </div>
</div>