@import "src/app/shared/styles/styles.scss";

.login-form {
  width: 260px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-wrapper {
  width: 286px;
  // background: purple;
  label {
    font-size: 16px;
    color: rgba(51, 62, 72, 1);
    font-weight: 700;
    line-height: 20px;
  }
  input {
    width: calc(100% - 8px);
    height: 50px;
    border: 1px solid rgba(207, 207, 207, 1);
    border-radius: 4px;
    outline: none;
    &.is-invalid {
      border: 1px red solid;
    }
  }
  .invalid-feedback {
    color: red;
  }
  .register-btn {
    width: 100%;
  }
}
