<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <div class="registration-form">
    <form action="" [formGroup]="SignupForm" (ngSubmit)="onSubmit()">
      <div class="input-wrapper">
        <div class="form__control">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Input text"
            formControlName = "name"
            [ngClass]="{ 'is-invalid': !SignupForm.get('name')!.valid && SignupForm.get('name')!.touched && true }"
          />
          <div *ngIf="!SignupForm.get('name')!.valid && SignupForm.get('name')!.touched" class="invalid-feedback">
            <div *ngIf="SignupForm.get('name')!.errors?.['required']">Name is required</div>
            <div *ngIf="SignupForm.get('name')!.errors?.['minlength']">Name must be at least 6 chars</div>
        </div>
        </div>
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Input text"
            isEmail
            formControlName = "email"
            [ngClass]="{ 'is-invalid': !SignupForm.get('email')!.valid && SignupForm.get('email')!.touched && true }"
          />
          <div *ngIf="!SignupForm.get('email')!.valid&&SignupForm.get('email')!.touched" class="invalid-feedback">
            <div *ngIf="SignupForm.get('email')!.errors?.['required']">Email is required</div>
            <div *ngIf="!SignupForm.get('email')!.errors?.['required'] && SignupForm.get('email')!.errors?.['isEmail']">Email must be a valid email address</div>
        </div>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Input text"
            formControlName = "password"
            [ngClass]="{ 'is-invalid': !SignupForm.get('password')!.valid && SignupForm.get('password')!.touched && true }"
            
          />
          <div *ngIf="!SignupForm.get('password')!.valid && SignupForm.get('password')!.touched" class="invalid-feedback">
            <div *ngIf="SignupForm.get('password')!.errors?.['required']">Password is required</div>
        </div>
        </div>
      </div>
      <div class="form__action">
        <app-button class="register-btn" item='register'></app-button>
      </div>
    </form>
  </div>
</div>