<!-- <span *ngFor="let author of authors">{{ author }} </span> -->
<div>
    <app-search (searchEvent)="searchItem($event)" placeholder="test"></app-search>
    <app-course 
        *ngFor="let course of courses" 
        [title]="course.title" 
        [desc]="course.description"
        [duration]="course.duration"
        [creationDate]="course.creationDate"
        [authors]="course.authors"
        [editable]="editable"
        (newItemEvent)='actionLogger($event)'
    >
    </app-course>
</div>
<router-outlet></router-outlet>
<!-- [duration]="course.duration" -->
<!-- <app-course [title]="courseDetails.title" [desc]="courseDetails.desc" [creationDate]="courseDetails.creationDate" [duration]="courseDetails.duration" [authors]="courseDetails.authors" [editable]="courseDetails.editable" ></app-course> -->