<div class="app-info">
    <!-- Replace ::text:: with your code -->
    <div class="app-info__header">{{title}}</div>
    <div class="app-info__title">{{text}}</div>
    <ng-content></ng-content>
  </div>