.course-form-wrapper {
  padding: 50px 60px;
}

.form-group {
  margin-bottom: 8px;
  &_elements {
    width: 100%;
    display: flex;
    justify-content: space-between;
    > input {
      width: calc(100% - 200px);
    }
  }
  &_input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(207, 207, 207, 1);
    font-size: 16px;
    margin-bottom: 8px;
  }
  &_invalid {
    color: red;
  }
}
