<div class="course-form-wrapper">
  <h1>ID: {{id}}</h1>
  <form action="" [formGroup]="CourseForm" (ngSubmit)="onSubmit()">
    <h3>Main Info</h3>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-group_input"
        id="title" formControlName = "title">
      <div *ngIf="!CourseForm.get('title')!.valid && CourseForm.get('title')!.touched" class="form-group_invalid">
        <div *ngIf="CourseForm.get('title')!.errors?.['required']">Title is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="describtion">Description</label>
      <textarea type="text" class="form-group_input"
        id="describtion" formControlName = "describtion" cols="30" rows="10"></textarea>
      <div *ngIf="!CourseForm.get('describtion')!.valid && CourseForm.get('describtion')!.touched" class="form-group_invalid">
        <div *ngIf="CourseForm.get('describtion')!.errors?.['required']">Describtion is required</div>
      </div>
    </div>
    <hr>
    <h3>Authors</h3>
    <div class="form-group">
      <label for="duration">Authors</label>
      <div class="form-group_elements">
        <input type="text" formControlName="author" class="form-group_input" name="author">
      <app-button type="button" (click)='addNewAuthor()' item='add author'></app-button>
      </div>
    </div>
    <div *ngFor="let elementAuthor of CourseForm.controls['authors'].value; let i = index">
      {{elementAuthor}} <button (click)="removeAuthor(i)" >x</button>
    </div>
    <hr>
    <h3>Duration</h3>
    <div class="form-group">
      <label for="duration">Duration</label>
      <input type="number" class="form-group_input"
        id="duration" formControlName = "duration">
      <div *ngIf="!CourseForm.get('duration')!.valid && CourseForm.get('duration')!.touched" class="form-group_invalid">
        <div *ngIf="CourseForm.get('duration')!.errors?.['required']">Describtion is required</div>
        <div *ngIf="CourseForm.get('duration')!.errors?.['min']">Min value should be 0</div>
      </div>
      <div>{{ CourseForm.get('duration')!.value | customDuration}} hours</div>
    </div>
    <div class="form__action">
      <app-button type="submit" class="submit-btn" item='create course'></app-button>
    </div>
  </form>
</div>