.search-wrapper {
  margin-top: 12px;
  display: flex;
  .search {
    margin-right: 10px;
    height: 36px;
    width: 955px;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(207, 207, 207, 1);
    &::placeholder {
      padding-left: 4px;
      //   font-size: 16px;
    }
  }
}
