<h1 *ngIf="id">ID: {{id}}</h1>
<div class="course-card">
    <div class="course-card__description">
      <!-- Replace ::text:: with your code -->
      <div class="course-card__description-title">{{title}}</div>
      <div class="course-card__description-text">{{desc}}</div>
    </div>
    <div class="course-card__info">
        <div class="course-card__info-text">
            <div>
              <b>Authors: </b>
              <span *ngFor="let author of authors">{{ author }}, </span>
            </div>
            <div><b>Duration: </b>{{duration * 60000 | date:'HH:mm':'UTC'}}</div>
            <div><b>Created: </b>{{creationDate | timeFormatter}}</div>
        </div>
        <div class="course-card__info-actions">
            <app-button item="show course" (click)="actionedEmitted('show course')"></app-button>
            <app-button *ngIf="editable" icon="edit" (click)="actionedEmitted('edit course')"></app-button>
            <app-button *ngIf="editable" icon="remove" (click)="actionedEmitted('remove course')"></app-button>
        </div>
    </div>
</div>